.box {
    position: absolute;
    top:4px;
    width: 100%;
    height: 220px;
		background-image : linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}



.words {
  position: absolute;
  top: 24px;
  width: 98%;
  height: 80%;
  padding-top:8px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  border-left: 5px solid #ffffff;
  line-height: 1.8;
  color: white;
  text-align: center;
}

#curved-corner-topleft {
  width: 190px;
  height: 220px;
  top: 0px;
  left: 40px;
  border-top-left-radius: 25px;
  overflow: hidden;
  position: absolute;
}

#curved-corner-topleft:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -55px -55px 0 0 teal;
}

#topline {
    border-top: 5px solid teal;
    width: 90%;
    position: absolute;
    left: 120px;
    top: 0px;
}

#sideline {
    border-left: 5px solid #37554c;
    left: 200px;
    position: absolute;
    top: 40px;
    bottom: 70px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color:white;
}


@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in {
  animation: ease-in 1 normal both;
  animation-duration: .5s;
  animation-name: fade;
}

.fade-out {
  animation: ease-in 1 reverse both;
  animation-duration: .5s;
  animation-name: fade;
}